<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong *ngIf="profile" class="capitalize">Votre potision est en cours de capture et sychronisation en temps reel</strong>
    <strong *ngIf="!profile" class="capitalize">Veuillez vous authentifier via le menu a gauche pour synchroniser votre position</strong>
    <!-- <div>TODO: si le gars est connecte on affiche maps avec un marqueur en haut on lui dit que le tracking est actif. Sur la map on met un marqeur</div> -->
  </div>
</ion-content>
