<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" *ngIf="profile">
          <ion-list-header>{{ profile.username }}</ion-list-header>
          <ion-note>{{ profile.email }}</ion-note>
        </ion-list>
        <ion-list id="inbox-list" *ngIf="!profile">
          <h5>Veuillez vous connecter</h5>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Menu</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-button expand="full" size="default" (click)="do_action(label)">{{ label }}</ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
